body{
    font-family: 'Nunito Sans', sans-serif;
}
.login{
    background-image: url(https://image.freepik.com/free-vector/gradient-purple-hexagonal-background_52683-61875.jpg);
    background-size: cover;
    height: 100vh;
}
.card-animado{
    transform: translateX(0px) rotateY(180deg);
    transition-duration: 0.5s;
    color: #2a1e6c;
    background-color: #2a1e6c;
}
.card-animado:hover {
    transform: translateX(0px) rotateY(0deg);
    color: white;
    transition-duration: 1s;
    background-color: #db4dd3;
  }